body {
  margin: 0;
  padding: 0;
}

button {
  margin: auto;
  border: 0;
  outline: 0;
  background: none;
  text-decoration: none;
  cursor: pointer;

}

h1 {
  color: #FFF;
  text-align: right;
  padding: 1% 5% 1% 1%;
  background-color: #70a1ff;
  margin: 0;
  font-size: 5em;
}

.numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
  height: 85%;
  position: absolute;
  background-color: #f1f2f6;
}

.keys button {
  width: 10vmax;
  height: 10vmax;
  font-size: 2em;
}

.operations {
  display: grid;
  grid-template-columns: repeat(1, 4fr);
  position: absolute;
  right: 0;
    height: 85%;
  background-color: #5352ed;
}

.operations button {
  height: 8vmax;
}
