body {
  margin: 0;
  padding: 0;
  /* background: #010101; */
}

button {
  margin: auto;
  border: 0;
  outline: 0;
  background: none;
  text-decoration: none;
  cursor: pointer;

}

h1 {
  /* color: #FFF; */
  text-align: right;
  padding: 1% 5% 1% 1%;
}

/* .keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.keys button {
  width: 10vmax;
  height: 10vmax;
  border-radius: 50%;
  background-color: #999;
  font-size: 5em;
} */
